@import url('https://fonts.googleapis.com/css?family=Comfortaa|Coming+Soon');
* {
    box-sizing: content-box;
}
body {
    background: #1E3B57;
    color: #D9E5E0;
    
}
h1 {
    font-family: 'Coming Soon', cursive;
    font-size:3rem;
}
p {
    font-family: 'Comfortaa', cursive;
    font-size:1.5rem;
}
a {
    color: #BA5969;
    text-decoration: none;

}
input {
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
}
.gif-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    border-radius: 3px;
    max-width: 200px;
}