doctype html
html
    head
        title = name
        style
         include ../css/style.css
    body
       h1 Hello #{user.first_name} #{user.last_name}!
       h2 Just Smile and enjoy this extremely nice GIF. 
       img(src="https://media.giphy.com/media/1ZzKtEhgnCAabHeLgJ/giphy.gif")